In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('tough_dataset_Copy2.csv')
df.head()

,id,Target A,Target B,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d
0,68407277,42405.00,0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,NaN,19-Mar
1,68355089,60740.00,1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,NaN,19-Mar
2,68341763,51907.68,0,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,home_improvement,NaN,605xx,IL,10.78,Aug-00,17-Jun,15813.30,NaN,19-Mar
3,66310712,51907.68,0,35000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.90,19-Apr,19-Mar
4,68476807,35.00,1,10400,Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,NaN,...,major_purchase,Major purchase,174xx,PA,25.37,Jun-98,16-Jul,10128.96,NaN,18-Mar

In [4]:
df.isnull().sum().head(10)

id                             0
Target A                       0
Target B                       0
LOAN_AMT                       0
Business Title                 0
Civil Service Title            0
Division/Work Unit             0
Job Description                0
Minimum Qual Requirements     20
Preferred Skills             393
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         2946 non-null   int64
 1   Target A                   2946 non-null   float64
 2   Target B                   2946 non-null   int64
 3   LOAN_AMT                   2946 non-null   int64
 4   Business Title             2946 non-null   object
 5   Civil Service Title        2946 non-null   object
 6   Division/Work Unit         2946 non-null   object
 7   Job Description            2946 non-null   object
 8   Minimum Qual Requirements  2926 non-null   object
 9   Preferred Skills           2553 non-null   object
 10  Additional Information     1854 non-null   object
 11  To Apply                   2945 non-null   object
 12  Hours/Shift                884 non-null    object
 13  Residency Requirement      2942 non-null   object
 14  Posting Date               2942 non-null   object
 15  Posting Updated            2942 non-null   object
 16  Process Date               2942 non-null   object
 17  FormalEducation            2894 non-null   object
 18  UndergradMajor             2624 non-null   object
 19  CompanySize                2946 non-null   object
 20  DevType                    2901 non-null   object
 21  YearsCoding                2943 non-null   object
 22  YearsCodingProf            2538 non-null   object
 23  HopeFiveYears              2477 non-null   object
 24  JobSearchStatus            2511 non-null   object
 25  LastNewJob                 2499 non-null   object
 26  UpdateCV                   2089 non-null   object
 27  CommunicationTools         2023 non-null   object
 28  TimeFullyProductive        2052 non-null   object
 29  EducationTypes             2128 non-null   object
 30  SelfTaughtTypes            1812 non-null   object
 31  TimeAfterBootcamp          221 non-null    object
 32  HackathonReasons           849 non-null    object
 33  AgreeDisagree1             2133 non-null   object
 34  AgreeDisagree2             2133 non-null   object
 35  AgreeDisagree3             2139 non-null   object
 36  LanguageWorkedWith         2447 non-null   object
 37  LanguageDesireNextYear     2279 non-null   object
 38  DatabaseWorkedWith         2130 non-null   object
 39  DatabaseDesireNextYear     1831 non-null   object
 40  PlatformWorkedWith         2070 non-null   object
 41  PlatformDesireNextYear     1909 non-null   object
 42  FrameworkWorkedWith        1633 non-null   object
 43  FrameworkDesireNextYear    1731 non-null   object
 44  IDE                        2360 non-null   object
 45  OperatingSystem            2377 non-null   object
 46  Methodology                1991 non-null   object
 47  VersionControl             2332 non-null   object
 48  CheckInCode                2319 non-null   object
 49  AIDangerous                2000 non-null   object
 50  AIInteresting              2076 non-null   object
 51  AIResponsible              2070 non-null   object
 52  AIFuture                   2196 non-null   object
 53  Age                        2027 non-null   object
 54  term                       2946 non-null   object
 55  emp_length                 2813 non-null   object
 56  loan_status                2946 non-null   object
 57  pymnt_plan                 2946 non-null   object
 58  url                        2946 non-null   object
 59  purpose                    2946 non-null   object
 60  title                      2882 non-null   object
 61  zip_code                   2946 non-null   object
 62  addr_state                 2946 non-null   object
 63  dti                        2946 non-null   float64
 64  earliest_cr_line           2946 non-null   object
 65  last_pymnt_d               2946 non-null   object
 66  last_pymnt_amnt            2946 non-null   float64
 67  next_pymnt_d               336 non-null    object
 68  last_credit_pull_d         2946 non-null   object
dtypes: float64(3), int64(3), object(63)
memory usage: 1.6+ MB

In [6]:

def missing_values_table(df):
   
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    # .iloc[:, 1]!= 0: filter on missing missing values not equal to zero
    mis_val_table_columns = mis_val_table_columns[
        mis_val_table_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(2)  # round(2), keep 2 digits
    
    # Print some summary information
    print("Dataset has {} columns.".format(df.shape[1]) + '\n' + 
    "There are {} columns that have missing values.".format(mis_val_table_columns.shape[0]))
    return mis_val_table_columns

In [7]:

missing_values_table(df)

Dataset has 69 columns.
There are 48 columns that have missing values.

                           Missing Values  % of Total Values
TimeAfterBootcamp                    2725              92.50
next_pymnt_d                         2610              88.59
HackathonReasons                     2097              71.18
Hours/Shift                          2062              69.99
FrameworkWorkedWith                  1313              44.57
FrameworkDesireNextYear              1215              41.24
SelfTaughtTypes                      1134              38.49
DatabaseDesireNextYear               1115              37.85
Additional Information               1092              37.07
PlatformDesireNextYear               1037              35.20
Methodology                           955              32.42
AIDangerous                           946              32.11
CommunicationTools                    923              31.33
Age                                   919              31.19
TimeFullyProductive                   894              30.35
AIResponsible                         876              29.74
PlatformWorkedWith                    876              29.74
AIInteresting                         870              29.53
UpdateCV                              857              29.09
EducationTypes                        818              27.77
DatabaseWorkedWith                    816              27.70
AgreeDisagree2                        813              27.60
AgreeDisagree1                        813              27.60
AgreeDisagree3                        807              27.39
AIFuture                              750              25.46
LanguageDesireNextYear                667              22.64
CheckInCode                           627              21.28
VersionControl                        614              20.84
IDE                                   586              19.89
OperatingSystem                       569              19.31
LanguageWorkedWith                    499              16.94
HopeFiveYears                         469              15.92
LastNewJob                            447              15.17
JobSearchStatus                       435              14.77
YearsCodingProf                       408              13.85
Preferred Skills                      393              13.34
UndergradMajor                        322              10.93
emp_length                            133               4.51
title                                  64               2.17
FormalEducation                        52               1.77
DevType                                45               1.53
Minimum Qual Requirements              20               0.68
Process Date                            4               0.14
Posting Updated                         4               0.14
Posting Date                            4               0.14
Residency Requirement                   4               0.14
YearsCoding                             3               0.10
To Apply                                1               0.03

In [8]:
#Dropping the columns with missing values% >60 & unnecessary columns
X1 = df.drop(['Hours/Shift','HackathonReasons','TimeAfterBootcamp','next_pymnt_d','id','Target A','Target B','Posting Date','Posting Updated','Process Date','AgreeDisagree1','AgreeDisagree2','AgreeDisagree3'],axis = 1)
X1.head(3)

,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,Additional Information,To Apply,Residency Requirement,...,url,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d
0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,"Salary range for this position is: $42,405 - $...",NaN,New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,19-Mar
1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,NaN,"In addition to applying through this website, ...",New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,19-Mar
2,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NYCHA has no residency requirements.,...,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,NaN,605xx,IL,10.78,Aug-00,17-Jun,15813.30,19-Mar

In [9]:
X1.columns

Index(['LOAN_AMT', 'Business Title', 'Civil Service Title',
       'Division/Work Unit', 'Job Description', 'Minimum Qual Requirements',
       'Preferred Skills', 'Additional Information', 'To Apply',
       'Residency Requirement', 'FormalEducation', 'UndergradMajor',
       'CompanySize', 'DevType', 'YearsCoding', 'YearsCodingProf',
       'HopeFiveYears', 'JobSearchStatus', 'LastNewJob', 'UpdateCV',
       'CommunicationTools', 'TimeFullyProductive', 'EducationTypes',
       'SelfTaughtTypes', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'emp_length', 'loan_status',
       'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'earliest_cr_line', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d'],
      dtype='object')

In [10]:
#Imputing the missing values
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp = imp.fit(X1)
X2 = imp.transform(X1)

In [11]:
x3= pd.DataFrame(X2)
x3.head(3)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,"Salary range for this position is: $42,405 - $...","Click the ""Apply Now"" button.",New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,19-Mar
1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,ERROR: #NAME?,Appointments are subject to OMB approval. For ...,"In addition to applying through this website, ...",New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,19-Mar
2,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NYCHA has no residency requirements.,...,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,Debt consolidation,605xx,IL,10.78,Aug-00,17-Jun,15813.3,19-Mar

In [12]:
x3.columns = ['LOAN_AMT', 'Business Title', 'Civil Service Title',
       'Division/Work Unit', 'Job Description', 'Minimum Qual Requirements',
       'Preferred Skills', 'Additional Information', 'To Apply',
       'Residency Requirement', 'FormalEducation', 'UndergradMajor',
       'CompanySize', 'DevType', 'YearsCoding', 'YearsCodingProf',
       'HopeFiveYears', 'JobSearchStatus', 'LastNewJob', 'UpdateCV',
       'CommunicationTools', 'TimeFullyProductive', 'EducationTypes',
       'SelfTaughtTypes',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'emp_length', 'loan_status',
       'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'earliest_cr_line', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d']

In [13]:
x3.head()

,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,Additional Information,To Apply,Residency Requirement,...,url,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d
0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,"Salary range for this position is: $42,405 - $...","Click the ""Apply Now"" button.",New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,19-Mar
1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,ERROR: #NAME?,Appointments are subject to OMB approval. For ...,"In addition to applying through this website, ...",New York City residency is generally required ...,...,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,19-Mar
2,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NYCHA has no residency requirements.,...,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,Debt consolidation,605xx,IL,10.78,Aug-00,17-Jun,15813.3,19-Mar
3,35000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NYCHA has no residency requirements.,...,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.9,19-Mar
4,10400,Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,ERROR: #NAME?,SPECIAL NOTE: 1. This is a temporary assig...,"Click the ""Apply Now"" button.",NYCHA has no residency requirement.,...,https://lendingclub.com/browse/loanDetail.acti...,major_purchase,Major purchase,174xx,PA,25.37,Jun-98,16-Jul,10128.96,18-Mar

In [14]:
import seaborn as sns

In [15]:
x4 = pd.get_dummies(x3,columns=['Business Title', 'Civil Service Title',
       'Division/Work Unit', 'Job Description', 'Minimum Qual Requirements',
       'Preferred Skills', 'Additional Information', 'To Apply',
       'Residency Requirement', 'FormalEducation', 'UndergradMajor',
       'CompanySize', 'DevType', 'YearsCoding', 'YearsCodingProf',
       'HopeFiveYears', 'JobSearchStatus', 'LastNewJob', 'UpdateCV',
       'CommunicationTools', 'TimeFullyProductive', 'EducationTypes',
       'SelfTaughtTypes','LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'Methodology',
       'VersionControl', 'CheckInCode', 'AIDangerous', 'AIInteresting',
       'AIResponsible', 'AIFuture', 'Age', 'term', 'emp_length', 'loan_status',
       'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'earliest_cr_line', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d'])

In [16]:
print('Shape before encoding is {0} & after encoding is {1}'.format(x3.shape,x4.shape))

Shape before encoding is (2946, 56) & after encoding is (2946, 25612)

In [17]:
x4.head()

,LOAN_AMT,Business Title_.NET DEVELOPER,Business Title_.NET Developer/Programmer Analyst,"Business Title_.Net Developer, Bureau of Application Development and Database Administration",Business Title_.Net Programmer / Analyst,Business Title_311 Call Center Manager,Business Title_311 Escalation Line Team Leader,Business Title_A-Team Supervisor,Business Title_ACCOUNTABLE MANAGER,"Business Title_ADMINISTRATIVE ASSISTANT, LABOR SERVICES",...,last_credit_pull_d_18-Jul,last_credit_pull_d_18-Jun,last_credit_pull_d_18-Mar,last_credit_pull_d_18-May,last_credit_pull_d_18-Nov,last_credit_pull_d_18-Oct,last_credit_pull_d_18-Sep,last_credit_pull_d_19-Feb,last_credit_pull_d_19-Jan,last_credit_pull_d_19-Mar
0,3600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,24700,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,20000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,35000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,10400,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [18]:
x4['LOAN_AMT']= x4['LOAN_AMT'].astype(int)
x4['LOAN_AMT'].fillna(0)

0        3600
1       24700
2       20000
3       35000
4       10400
        ...
2941    14000
2942    18675
2943    24000
2944     2500
2945    10000
Name: LOAN_AMT, Length: 2946, dtype: int32

In [19]:
df['Target B'] = df['Target B'].fillna(0)
df['Target B'].astype(int)

0       0
1       1
2       0
3       0
4       1
       ..
2941    0
2942    1
2943    0
2944    0
2945    0
Name: Target B, Length: 2946, dtype: int32

In [20]:
X = x4.values
y = df['Target B'].values
y1 = df['Target A'].values

#For Target B

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

In [22]:
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [23]:
models = []
models.append(('Naive Bayes',GaussianNB()))
models.append(('RandomForest', RandomForestClassifier(n_estimators=10,random_state=0)))
models.append(('Decision Tree', DecisionTreeClassifier(random_state=0)))
models.append(('KNN', KNeighborsClassifier(n_neighbors = 30)))

In [24]:
cl1 = KNeighborsClassifier(n_neighbors=30)
cl1.fit(X_train,y_train)
ypredd = cl1.predict(X_test)

In [ ]:
for name, model in models:
    print(name)
    model.fit(X_train, y_train)
    #Checking the cross_val_score
    score=cross_val_score(model,X,y,cv=10)
    print('Cross Val score is {0}'.format(score.mean()))
    
    
    # Make predictions.
    predictions = model.predict(X_test)
    # Compute the error.
    from sklearn.metrics import confusion_matrix
    print(confusion_matrix(predictions, y_test))
    print('')
    from sklearn.metrics import accuracy_score
    print('Accuracy Score: {0}'.format(accuracy_score(predictions,y_test)))
    print('\n')

Naive Bayes
Cross Val score is 0.5831926668972673
[[247  65]
 [208  70]]

Accuracy Score: 0.5372881355932203


RandomForest
Cross Val score is 0.7868280871670702
[[454 134]
 [  1   1]]

Accuracy Score: 0.7711864406779662


Decision Tree

In [ ]:
m2 = RandomForestClassifier(n_estimators=10,random_state=0)
m2.fit(X_train,y_train)

In [ ]:
y_predz = m2.predict(X_test)

In [ ]:
cm = confusion_matrix(y_test,y_predz)
print('cm is {0}'.format(cm))
f1 = f1_score(y_test,y_predz)
print('f1 score is {0}'.format(f1))
ascore = accuracy_score(y_test,y_predz)
print('accuracy is {0}'.format(ascore))

cm is [[259   1]
 [ 81   0]]
f1 score is 0.0
accuracy is 0.7595307917888563

#For Target A

In [ ]:
y8 = df['Target A'].fillna(0)
y8

0       42405.00
1       60740.00
2       51907.68
3       51907.68
4          35.00
          ...
1697    70000.00
1698    69940.00
1699    69940.00
1700    73305.00
1701        0.00
Name: Target A, Length: 1702, dtype: float64

In [ ]:
y8 = y8.apply(np.int64)

In [ ]:
X_train,X_test,y_train1,y_test1 = train_test_split(X,y8,test_size=0.20,random_state=0)

In [ ]:
y_train1.shape

(1361,)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [ ]:

classifier1 = LinearRegression()
classifier1.fit(X_train, y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,mean_squared_error

In [ ]:
y2_pred = classifier1.predict(X_test)
print("The mean squared error is {0}".format(mean_squared_error(y_test1,y2_pred,squared=False)))

The mean squared error is 17992.20184653107